.page-header
{
    background:$off-white;
    padding:$m-size 0;
    margin-bottom:$l-size;
}

.page-header__title
{
    margin:0;
    font-weight:300;
    span{
        font-weight:700;
    }
}

.page-header__subtitle
{
    font-weight:300;
    font-family:sans-serif;
    span{
        font-weight:700;
    }
    margin:$s-size;
}

.page-header__actions
{
    margin-top:$m-size;
}

.page-header__user
{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.page-header__user__name
{
    margin:0;
    font-weight:300;
    font-size:$font-size-large;
    font-family:verdana;
}

.page-header__user__profile
{
    text-decoration:none;
    color:green;
    margin-right:$l-size;
}

#name
{
    color:green;
    font-weight:400;
}